---
---

@import "{{ site.theme }}";

$screen-small: 300px;
$screen-medium: 900px;

ol, ul{
    padding-left: 15px;

    li{
        padding-left: 0px;
    }
}

header{
    padding-top: 25px;
    padding-bottom: 10px;

    h1{
        text-transform: uppercase;
        font-size: 42px;

        a{
            color: #303030;
        }
    }
    h2{
        font-size: 18px;
        text-transform: lowercase;
    }
}

.inner{
    @media screen and (max-width: $screen-small) {
        width: $screen-small;
    }
    @media screen and (min-width: $screen-medium) {
        width: $screen-medium;
    }
}

#nav{
    padding: 10px 0px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li{
            display: inline;
            padding: 0px 10px;
            border-right: 1px solid #bbb;

            &:last-child{
                border-right: none;
            }
        }
    }
}
    