---
---

@import "{{ site.theme }}";

$screen-small: 300px;
$screen-medium: 900px;

ol, ul{
    padding-left: 15px;

    li{
        padding-left: 0px;
    }
}

header{
    h1{
        text-transform: uppercase;
        font-size: 42px;

        a{
            color: #303030;
        }
    }
}

.inner{
    @media screen and (max-width: $screen-small) {
        width: $screen-small;
    }
    @media screen and (min-width: $screen-medium) {
        width: $screen-medium;
    }
}

#nav{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            display: inline;
        }
    }
}
    